@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Rubik+Dirt&family=Titillium+Web:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.pres {
    background-image: url("../img/woman-codes.jpg");
    background-size: cover;
    color: #000000;
    height: 650px;
    position: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
}

a:hover{
    color: inherit;
}

h1 {
    background-color: rgba(255, 255, 255, 0.384);
    font-size: 5.5rem;
    font-family: 'Chakra Petch', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 4rem;
    font-family: 'Chakra Petch', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

p,
h3,
a {
    font-family: 'Titillium Web', sans-serif;
}

.bar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.bar_op {
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;

}

.bar_op:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.sections {
    padding-left: 20px;
    padding-right: 20px; 
}

.about,
.skills,
.proyects {
    padding-top: 60px;
}

.me{
    margin: 100px;
}

.about p{
    font-size: larger;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card {
    background-color: rgba(102, 98, 98, 0.384);
    border-radius: 5%;
    width: 500px;
    height: 400px;
    margin: 20px;
    z-index: auto;
}

.presentation {
    height: 70%;
    overflow: hidden;
}

/* .presentation img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  } */

.description {
    padding: 10px;
    text-align: center;
}

.logos{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    height: 80px;
    margin:30px;
}

.contact {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.icon {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}




/*  --------------------------*/
.slider {
    width: 100%;
    height: 70%;
    border-radius: 5%;
    overflow: hidden;
}

.first{
    display: flex;
    
    
    width: 400%;
}

.first:hover{
    animation: cambio 10s infinite alternate linear;
}

.second {
    width: 100%;
    list-style: none;
    margin-right: 10px;
}

.slider img {
    width: 102%;
    height: 70%;
    z-index: -1;
    border-radius: 5%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@media only screen and (min-width:0px) and (max-width:0px) {

    .slider,
    .first,
    .slider img {
        height: 100vh;
    }
}